@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
    background: -webkit-linear-gradient(#ff00ae, #ff000050);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sherbertShadow {
    box-shadow: 3px 3px 1px 1px pink;
}

.sherbertShadow:hover {
    transform: translate(3px, 3px);
    box-shadow: 1px 1px 1px 1px pink;
}